
.hero-bg {
    min-height: 85vh;
    width: 100vw;
    background: linear-gradient(90deg, #fefeff 0%, #8037e0 100%);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
}
.header1 {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #5e2990;
    line-height: 1.1;
}
.header2 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #5e2990;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.hero-left p {
    color: #5e2990;
    font-weight: 400;
    font-size: 1.2vw;
    width: 650px;
    margin-bottom: 2rem;
    justify-content: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-left button {
    border: none;
    color: #ffffff;
    font-weight: 600;
    padding: 1rem 2.5rem;
    background-color: #5e2990;
    font-size: 1.1rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: background 0.2s, color 0.2s;
}
.hero-left button:hover {
    background: #883fcc;
    color: #ffffff;
}
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img {
    width: 2000px;
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(0 8px 32px rgba(0,0,0,0.18));
}

@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding-top: 100px;
    }
    .hero-left, .hero-right {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-img {
        max-width: 250px;
    }
    .hero-left h2 {
        font-size: 2.5rem;
    }
    .hero-left p {
        font-size: 1rem;
    }
}